body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h2 {
  font-size: 3rem;
  font-weight: 900; }
  h2.header-blue {
    color: #00a9ec; }

.allclear {
  clear: both; }

.allclearelement {
  position: relative;
  width: 100%;
  min-width: 1px;
  clear: both; }

img {
  width: 100%; }

.site-container {
  padding: 0 20px; }

.display-element {
  display: block !important; }

@media (min-width: 768px) {
  .mobile {
    display: none !important; }
  .desktop {
    display: block !important; } }

@media (max-width: 767px) {
  .desktop {
    display: none !important; } }

.para-text-grey {
  margin: 0;
  padding: 15px 0 30px 0;
  letter-spacing: 0.8px;
  line-height: 22px;
  font-size: 1.7rem;
  font-weight: 300;
  color: #777777; }
  .para-text-grey .dark-gray-span {
    font-weight: 500;
    color: #262626; }

.para-text-blue {
  font-size: 1.9rem;
  font-weight: 400;
  color: #00a9ec; }

.site-header {
  padding: 0 20px;
  margin: 0;
  min-height: 70px;
  background: url("../images/header/pattern.png") no-repeat;
  background-size: 104px 59px;
  background-position: 110% bottom;
  background-color: #0f253a; }
  .site-header-nav-left {
    position: relative;
    float: left;
    width: 50%;
    min-height: inherit; }
    @media (min-width: 768px) {
      .site-header-nav-left {
        width: 470px; } }
    .site-header-nav-left .logo-brand {
      display: block;
      float: left;
      width: 105px;
      min-height: inherit; }
      .site-header-nav-left .logo-brand img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 100px; }
    .site-header-nav-left .site-header-nav .nav {
      display: table;
      table-layout: fixed;
      margin: 0;
      padding: 0; }
      .site-header-nav-left .site-header-nav .nav li {
        display: table-cell; }
        .site-header-nav-left .site-header-nav .nav li a {
          color: #ffffff;
          cursor: pointer; }
          .site-header-nav-left .site-header-nav .nav li a:hover {
            color: #fff000;
            background-color: transparent; }
    .site-header-nav-left .site-header-nav .nav {
      display: table;
      table-layout: fixed;
      margin: 0 auto;
      padding: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      .site-header-nav-left .site-header-nav .nav li {
        display: table-cell; }
      .site-header-nav-left .site-header-nav .nav li a {
        font-size: 1rem; }
  .site-header-nav-right {
    position: relative;
    float: left;
    width: 50%;
    min-height: inherit; }
    .site-header-nav-right .nav {
      display: table;
      table-layout: fixed;
      margin: 0;
      padding: 0; }
      .site-header-nav-right .nav li {
        display: table-cell; }
        .site-header-nav-right .nav li a {
          color: #ffffff;
          cursor: pointer; }
          .site-header-nav-right .nav li a:hover {
            color: #fff000;
            background-color: transparent; }
    @media (min-width: 768px) {
      .site-header-nav-right {
        float: right;
        width: 30%; } }
    .site-header-nav-right .nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0; }
      .site-header-nav-right .nav li a img {
        max-width: 25px; }
      .site-header-nav-right .nav li span {
        display: block;
        color: #ffffff;
        padding: 15px 0 0 0; }
      .site-header-nav-right .nav li.powered-by {
        text-align: center;
        color: #7a97a9;
        font-size: 1rem;
        padding: 20px 0 0 0; }

.site-hero {
  display: none; }
  @media (min-width: 768px) {
    .site-hero {
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 350px;
      background: url("../images/hero/hero.jpg") no-repeat;
      background-size: cover;
      background-position: top center; } }

@media (min-width: 768px) {
  .site-main {
    position: relative; } }

@media (min-width: 768px) {
  .site-main-section {
    position: relative;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
    padding: 0; } }

@media (min-width: 1200px) {
  .site-main-section {
    max-width: 1200px; } }

@media (min-width: 768px) {
  .site-main-section-element.intro-column {
    position: relative;
    float: left;
    width: 35%; } }

.site-main-section-element.intro-column .block-column-wrap-bg-image {
  min-height: 390px;
  background: url("../images/about/SmartProducts@2x.jpg") no-repeat;
  background-size: 400px;
  background-position: bottom center; }
  @media (min-width: 1200px) {
    .site-main-section-element.intro-column .block-column-wrap-bg-image {
      background-size: 430px; } }

.site-main-section-element.intro-column .block-column-wrap .para-text-grey {
  padding: 15px 0 30px 0; }

@media (min-width: 768px) {
  .site-main-section-element.secondary-column {
    position: relative;
    float: left;
    width: 65%;
    padding: 350px 0 0 0; } }

.site-main-section-element.secondary-column .block-column-wrap-bg-image.image-one {
  min-height: 300px;
  background: url("../images/about/Nest@2x.jpg") no-repeat;
  background-size: cover;
  background-position: top center; }
  @media (min-width: 768px) {
    .site-main-section-element.secondary-column .block-column-wrap-bg-image.image-one {
      min-height: 390px; } }

.site-main-section-element.secondary-column .block-column-wrap-bg-image.image-two {
  min-height: 300px;
  background: url("../images/about/SmartProducts@2x.jpg") no-repeat;
  background-size: cover;
  background-position: top center; }

.site-main-section-element .block-column-wrap-transparent {
  position: relative;
  min-height: 350px;
  margin: 0;
  padding: 0;
  background: url("../images/hero/hero.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #00a9ec; }
  @media (min-width: 768px) {
    .site-main-section-element .block-column-wrap-transparent {
      min-height: auto;
      background: transparent; } }
  .site-main-section-element .block-column-wrap-transparent .opaque-block {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: rgba(173, 173, 173, 0.5); }
    @media (min-width: 768px) {
      .site-main-section-element .block-column-wrap-transparent .opaque-block {
        position: relative;
        top: auto;
        bottom: auto;
        top: 0;
        padding: 75px 20px 90px 20px; } }
    .site-main-section-element .block-column-wrap-transparent .opaque-block h2 {
      color: #ffffff; }
    .site-main-section-element .block-column-wrap-transparent .opaque-block p {
      padding: 3px 0 0 0;
      color: #ffffff;
      letter-spacing: 0.8px;
      line-height: 27px;
      font-size: 3rem;
      font-weight: 400; }
      @media (min-width: 768px) {
        .site-main-section-element .block-column-wrap-transparent .opaque-block p {
          font-weight: 300; } }

.site-main-section-element .block-column-wrap {
  margin: 0;
  padding: 30px 20px; }
  .site-main-section-element .block-column-wrap .para-text-blue {
    margin: 0 0 25px; }
  .site-main-section-element .block-column-wrap .para-text-grey {
    padding: 15px 0 10px 0; }
  .site-main-section-element .block-column-wrap.home-vector {
    min-height: 480px;
    background: url("../images/about/House@2x.jpg") no-repeat;
    background-size: contain;
    background-position: bottom center; }
    @media (min-width: 768px) {
      .site-main-section-element .block-column-wrap.home-vector {
        min-height: 475px;
        background: url("../images/about/House@2x.jpg") #ffffff no-repeat;
        background-size: 245px;
        background-position: bottom center; } }

.site-main .site-main-section-store-locations {
  position: relative;
  margin: 0;
  padding: 0;
  min-height: 635px;
  background: url("../images/header/pattern-dark.png");
  background-position: bottom center;
  background-color: #e6e6e6;
  clear: both; }
  .site-main .site-main-section-store-locations .info-title-block {
    position: relative;
    margin: 0;
    padding: 50px 20px 20px 20px;
    min-height: 170px;
    background-color: #ffffff; }
    .site-main .site-main-section-store-locations .info-title-block h1 {
      color: #00a9ec;
      text-align: center;
      font-size: 1.7rem;
      font-weight: 400; }
  .site-main .site-main-section-store-locations .map-loading-block {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0f253a;
    z-index: 6; }
    .site-main .site-main-section-store-locations .map-loading-block .loading-dialog-block {
      position: relative;
      top: 50%;
      transform: translateY(-50%); }
      .site-main .site-main-section-store-locations .map-loading-block .loading-dialog-block i, .site-main .site-main-section-store-locations .map-loading-block .loading-dialog-block span {
        display: block;
        text-align: center;
        margin: 0 auto;
        padding: 0;
        color: #ffffff; }

.locations-block-wrap {
  position: absolute;
  bottom: 0;
  width: 85%;
  right: 0;
  left: 0;
  margin: 0 auto;
  padding: 0;
  min-height: 400px;
  z-index: 5; }
  @media (min-width: 700px) {
    .locations-block-wrap {
      padding: 0 0 30px 0; } }
  @media (min-width: 768px) {
    .locations-block-wrap {
      max-width: 768px;
      width: 100%; } }
  @media (min-width: 1200px) {
    .locations-block-wrap {
      max-width: 1200px;
      width: 100%; } }
  .locations-block-wrap .locations-slick .slick-list {
    -webkit-box-shadow: 0px 13px 12px 5px rgba(173, 173, 173, 0.5);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 13px 12px 5px rgba(173, 173, 173, 0.5);
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 13px 12px 5px rgba(173, 173, 173, 0.5);
    /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }
    @media (min-width: 480px) {
      .locations-block-wrap .locations-slick .slick-list {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none; } }
    @media (min-width: 480px) {
      .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide {
        padding: 0 5px 0 0; } }
    .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .location-map-block {
      position: relative;
      min-height: 250px;
      overflow: hidden; }
      .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .location-map-block .map-title {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #ffffff;
        font-size: 2rem;
        padding: 3px 30px;
        background-color: #00a9ec;
        z-index: 8; }
      .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .location-map-block .map-image {
        position: absolute;
        top: 0;
        z-index: 7;
        width: 125%; }
        @media (min-width: 305px) {
          .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .location-map-block .map-image {
            width: 100%; } }
        @media (min-width: 480px) {
          .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .location-map-block .map-image {
            width: 125%; } }
        @media (min-width: 700px) {
          .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .location-map-block .map-image {
            width: 100%; } }
        @media (min-width: 1200px) {
          .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .location-map-block .map-image {
            top: -70px; } }
    .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .info-wrapper {
      background-color: #ffffff; }
      .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .info-wrapper .inner-location-items {
        margin: 0;
        padding: 0 30px; }
        .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .info-wrapper .inner-location-items section {
          position: relative;
          margin: 0;
          padding: 0;
          min-height: 75px;
          border-bottom: 1px solid #eaeaea; }
          .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .info-wrapper .inner-location-items section:last-child {
            border: none; }
          .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .info-wrapper .inner-location-items section .image-wrapper {
            position: relative;
            float: left;
            width: 20%;
            min-height: inherit; }
            .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .info-wrapper .inner-location-items section .image-wrapper .location-icon {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              max-width: 20px; }
          .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .info-wrapper .inner-location-items section .text-wrapper {
            position: relative;
            float: left;
            width: 80%;
            min-height: inherit; }
            .locations-block-wrap .locations-slick .slick-list .slick-track .slick-slide .location-info-block .info-wrapper .inner-location-items section .text-wrapper .location-text-span {
              position: absolute;
              font-size: 1.1rem;
              color: #777777;
              top: 50%;
              transform: translateY(-50%); }

.site-footer {
  position: relative;
  margin: 0;
  background-color: #0f253a;
  clear: both; }
  .site-footer .footer-contents-wrap {
    z-index: 5; }
    @media (min-width: 768px) {
      .site-footer .footer-contents-wrap {
        min-height: 100px; } }
  .site-footer-powered-by .text-translucent {
    text-align: center;
    color: #7a97a9;
    font-size: 1.5rem;
    padding: 20px 0 0 0; }
  @media (min-width: 768px) {
    .site-footer-info {
      position: relative;
      float: left;
      width: 50%;
      padding: 20px 0 0 0; } }
  .site-footer-info p {
    text-align: center;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400; }
    @media (min-width: 768px) {
      .site-footer-info p {
        font-size: 1.2rem;
        line-height: 10px;
        padding: 20px 0 0 0; } }
  .site-footer-social-block {
    padding: 20px 0 0 0; }
    @media (min-width: 768px) {
      .site-footer-social-block {
        position: relative;
        float: left;
        width: 30%; } }
    .site-footer-social-block .social-nav-ul {
      display: table;
      table-layout: fixed;
      margin: 0 auto;
      padding: 0; }
      .site-footer-social-block .social-nav-ul li {
        display: table-cell; }
      .site-footer-social-block .social-nav-ul li a {
        color: #ffffff;
        padding: 0 7px;
        font-size: 2.5rem; }
    .site-footer-social-block .additional-info-block {
      display: table;
      table-layout: fixed;
      margin: 0 auto;
      padding: 0;
      padding: 5px 0; }
      .site-footer-social-block .additional-info-block li {
        display: table-cell; }
      .site-footer-social-block .additional-info-block li a {
        color: #ffffff;
        padding: 3px 7px;
        font-size: 1.5rem; }
        @media (min-width: 768px) {
          .site-footer-social-block .additional-info-block li a {
            font-size: 1.2rem;
            line-height: 10px;
            font-weight: 500; }
            .site-footer-social-block .additional-info-block li a strong {
              font-weight: 500; } }
  .site-footer-need-help {
    padding: 30px 0; }
    @media (min-width: 768px) {
      .site-footer-need-help {
        position: relative;
        float: left;
        width: 20%; } }
    .site-footer-need-help p {
      text-align: center;
      color: #ffffff;
      margin: 0;
      padding: 3px 7px;
      font-size: 1.5rem;
      line-height: 15px;
      font-weight: 300; }
      @media (min-width: 768px) {
        .site-footer-need-help p {
          text-align: left;
          font-size: 1.2rem;
          line-height: 10px; } }
      .site-footer-need-help p strong {
        font-weight: 900; }
  .site-footer .upper-bg-graphic {
    position: absolute;
    top: 0;
    right: 0;
    width: 180px;
    height: 52px;
    z-index: 3;
    background: url("../images/header/pattern.png") no-repeat;
    background-size: cover;
    background-position: 25px 0px; }
  .site-footer .lower-bg-graphic {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 270px;
    height: 85px;
    z-index: 4;
    background: url("../images/header/pattern.png") no-repeat;
    background-size: cover;
    background-position: 45px 0px;
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg); }
