<div class="footer-contents-wrap">
    <div class="site-footer-powered-by mobile">
        <p class="text-translucent">powered by <strong>b8ta</strong></p>
    </div>
    <div class="site-footer-need-help desktop">
        <p><strong>Need Help?</strong></p>
        <p>Call 1-800-000-0000</p>
    </div>
    <div class="site-footer-info">
        <p>JM Prototype site.  An example mockup for a code review.</p>
    </div>
    <div class="site-footer-social-block">
        <ul class="social-nav-ul">
            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
        </ul>
        <ul class="additional-info-block">
            <li><a href="#"><strong>Terms &amp; Conditions</strong></a></li>
            <li class="desktop"><a href="#">Site Map</a></li>
        </ul>
        <div class="site-footer-need-help mobile">
            <p><strong>Need Help?</strong></p>
            <p>Call 1-800-000-0000</p>
        </div>
    </div>
</div>
<div class="upper-bg-graphic"></div>
<div class="lower-bg-graphic"></div>
